<div class="span-24">
  <table>
    <tr id="memberships">
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
      <%= render @membership  %><!-- it knows to render _membership.html.erb -->
  </table>
</div>



<% if signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
<% else %>
<%= link_to 'List Memberships', memberships_path %>
<% end %>

