<div class="span-12">
  <h1>Sauna</h1>
 <div class="box">
     <%= image_tag "photos/sauna/image1.jpg", :height => '150', :alt => 'Sauna' %>
     <p>Relax in our large sauna.</p>
  </div>
</div>

<div class="span-12 last">
  <h1>Gym</h1>
  <div class="box">
    <%= image_tag "photos/gym/image1.jpg", :height => '200', :alt => 'Gym' %>
    <p>Spectacular state of the art gym which includes:</p>
    <ul>
    <li>Massive selection of cardio and resistance weight machines.</li>
    <li>Extensive Free Weights.</li>
    <li>Cardio zone with audio and visual entertainment to get you pumped!</li>
    </ul>
  </div>
</div>

<div class="span-12">
  <h1>Pool</h1>
 <div class="box">
    <%= image_tag "photos/pool/image2.jpg", :height => '200', :alt => 'Sauna' %>
    <p>Our olympic sized pool features 8 lanes</p>
  </div>
</div>

<div class="span-12 last">
  <h1>Memberships</h1>
  <div class="box">
    <p>Benefit from our various memberships to suit any requirements.</p>
    <ul>
    <li>Massive selection of cardio and resistance weight machines.</li>
    <li>Extensive Free Weights.</li>
    <li>Cardio zone with audio and visual entertainment to get you pumped!</li>
    </ul>
  </div>

</div>

