<div class="span-12">
  <h1>Sauna</h1>
 <div class="box">

  </div>
</div>

<div class="span-12 last">
  <h1>Gym</h1>
  <div class="box">
    Second
  </div>
</div>

<div class="span-12">
  <h1>Pool</h1>
 <div class="box">
    Third
  </div>
</div>

<div class="span-12 last">
  <h1>Memberships</h1>
  <div class="box">
    Fourth
  </div>

</div>

