<div class="span-12">

  <h1>Sign in form</h1>
  <%= render 'sessions/form' %>

  <h2>Not a member? <%= link_to 'sign up!', signup_path %></h2>

</div>

<div class="span-12 last">

  <h1>Recent News</h1>

</div>

