<footer>


  <div class="prepend-top span-24 last">
    <nav>
      <ul>
        <li><%= link_to "Privacy Policy", '#' %></li>
        <li>Copyright &copy; 2011</li>
        <li><%= link_to "Terms of Service", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>

